name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    bracnhes: [ "main" ]

jobs:
  tests:

    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:

      - uses: actions/checkout@v3
      - id:   branch-name
        uses: tj-actions/branch-names@v6 

      - name: Install Neovim
        shell: bash
        run:  | 
              wget -q https://github.com/neovim/neovim/releases/download/nightly/nvim-linux64.deb -O /tmp/nvim.deb;
              sudo dpkg -i /tmp/nvim.deb;
              nvim --version;

      - name: Install packer.nvim
        run:  git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim

      - name: Get testing config
        run:  wget -q  https://raw.githubusercontent.com/AlexvZyl/nordic.nvim/${{ steps.branch-name.outputs.current_branch }}/lua/nordic/tests/init.lua;

      - name: Setup nordic.nvim (PR)
        if:   github.event_name == 'pull_request'
        run:  |
              git clone --branch ${{ steps.branch-name.outputs.current_branch }} https://github.com/${{ github.event.pull_request.head.repo.full_name }} ~/.local/share/nvim/site/pack/packer/start/nordic.nvim;
              sudo sed -i "s!-- repo!'${{ github.event.pull_request.head.repo.full_name }}',!g" init.lua;
              sudo sed -i "s/-- branch/branch = '${{ steps.branch-name.outputs.current_branch }}'/g" init.lua;
              cat init.lua;

      - name: Setup nordic.nvim (Push)
        if:   github.event_name == 'push'
        run:  |
              git clone --branch ${{ steps.branch-name.outputs.current_branch }} https://github.com/${GITHUB_REPOSITORY} ~/.local/share/nvim/site/pack/packer/start/nordic.nvim;
              sudo sed -i "s!-- repo!'${GITHUB_REPOSITORY}',!g" init.lua;
              sudo sed -i "s/-- branch/branch = '${{ steps.branch-name.outputs.current_branch }}'/g" init.lua;
              cat init.lua;

      - name: Test nordic.nvim
        shell: bash
        run:  |
              OUTPUT=$(nvim --headless -u init.lua -c "lua require 'nordic.tests.options'" -c 'q' 2>&1);
              if [[ -n "$OUTPUT" ]]
              then
                exit 1
              fi
