name: Test

on:
  push:
    branches: [ "dev" ]
  pull_request:
    bracnhes: [ "main" ]

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Neovim
        shell: bash
        run:  wget -q https://github.com/neovim/neovim/releases/download/nightly/nvim-linux64.deb -O /tmp/nvim.deb;
              sudo dpkg -i /tmp/nvim.deb;
      - name: Nvim version
        run:  nvim --version
      - name: Install packer.nvim
        run:  git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim
      - name: Get testing config
        run:  wget -q  https://raw.githubusercontent.com/AlexvZyl/nordic.nvim/dev/test/init.lua;
      - name: Get current branch name
        id:   branch-name
        uses: tj-actions/branch-names@v6 
      - name: Set to current repo 
        run:  sudo sed -i "s!--repo!'${GITHUB_REPOSITORY}',!g" init.lua;
      - name: Set to current branch 
        run:  sudo sed -i "s/-- branch/branch = '${{ steps.branch-name.outputs.current_branch }}'/g" init.lua;
              cat init.lua;
      - name: Install nordic.nvim
        run:  git clone --branch ${{ steps.branch-name.outputs.current_branch }} https://github.com/${GITHUB_REPOSITORY} ~/.local/share/nvim/site/pack/packer/start/nordic.nvim
      - name: List installed plugins
        run:  ls -a ~/.local/share/nvim/site/pack/packer/start/
      - name: Test nordic.nvim
        run:  |
              if [[ -n $(nvim --headless -u init.lua -c 'colorscheme nordic' -c 'q') ]]; then
                exit 1
              fi
